/* ========================================= */
/* ❗ CSS LAYOUT FOR CARD SLIDER ❗ */
/* ========================================= */

#slider-cards * {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#slider-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

/* Slider Wrapper */
#slider-cards .card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

/* Cards */
#slider-cards .card-item {
    list-style: none;
}

#slider-cards .card-link {
    display: block;
    background: var(--red-primary);
    border-radius: 12px;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
    user-select: none;
    overflow: hidden;
}

#slider-cards .card-link:hover {
    border-color: #5372f0;
}

#slider-cards .card-image {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

/* Title */
#slider-cards .card-title {
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: normal;
    color: var(--white);
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    padding: 10px 5px;
}

/* Button */
#slider-cards .card-button {
    height: 35px;
    width: 35px;
    margin-top: 30px;
    color: var(--red-primary);
    background: none;
    border-radius: 50%;
    border: 2px solid #5382f0;
    cursor: pointer;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

#slider-cards .card-link:hover .card-button {
    background: #5372f0;
    color: #fff;
}

/* Swiper Navigation */
#slider-cards .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: var(--red-primary);
}

#slider-cards .swiper-pagination-bullet-active {
    opacity: 1;
}

#slider-cards .swiper-slide-button {
    color: var(--red-primary);
    margin-top: -35px;
}

/* Responsive */
@media (max-width: 768px) {
    #slider-cards .card-wrapper {
        margin: 0 10px 10px;
    }
    #slider-cards .swiper-slide-button {
        display: none;
    }
}